// vars
@import 'vars';

// Bulma
@import 'bulma/bulma';

// components
@import 'components/global';
@import 'components/topnav';

// global styles
#app {
    background-color: $secondary;
    padding: 100px; // same as border image width
    height: 80vh; // temp

    border-image: url('/dist/img/border.png');
    border-image-slice: 100 fill;
    border-image-width: 100px;
    border-image-outset: 0;
    border-image-repeat: repeat;
}

.nav {
    .title,
    .subtitle {
        @extend .has-text-weight-bold;
        color: $primary;
    }

    .title {
        @extend .is-size-1;
    }

    .subtitle {
        @extend .is-size-2;
    }

    figure img {
        height: 200px;
        width: auto;
    }
}
