.outside-border {
    box-shadow: 0px 0px 0px 10px $primary;
}

a {
    color: $secondary;

    &:hover {
        color: $secondary;
    }
}

a:not([class]):hover {
    text-decoration: underline;
}

.underline {
    text-decoration: underline;
}

@for $i from 0 through 100 {
    .w-#{$i} {
        width: #{$i}#{'%'};
    }
}
